config.properties.example

Customize these settings and rename the file to `config.properties`
for your changes to take effect.

---

bot-token=Your.Token.Here
prefix=!
tenor-api-key=APIKEYHERE
backend-api-key=
backend-api-host=

voice-autodisconnect-minutes=5
voice-spotify-client-id=
voice-spotify-client-secret=
voice-spotify-country-code=

debug-mode=true
debug-ignore-permission-sys=false

speech-recognition-model-name=[folder name inside of voice-models/]
speech-recognition-wake-words=a, list, of, comma, separated, english, words
